@font-face {
	font-family: 'Noto Sans';
	font-weight: 400;
    font-style: normal;
	src: url(../fonts/NotoSans-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Noto Sans';
	font-size: 16px;
}

.main-wrapper {
    margin: 0 10%;
}